@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../libs/fonts/Montserrat-Bold.eot');
  src: url('../libs/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/Montserrat-Bold.woff2') format('woff2'), url('../libs/fonts/Montserrat-Bold.woff') format('woff'), url('../libs/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    letter-spacing: .18em;
}
#header-b{
    width:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
#header-b .bottom{
    width:335px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    
}
#header-b .bottom a{
    position:relative;
    cursor:pointer;
    line-height:1.5;
    text-decoration:none;
    color:black;
    text-align: center;
}
#header-b .bottom a:after{
    display:block;
    position:absolute;
    left:0;
    width:0;
    height:1px;
    background-color:black;
    content:"";
    -webkit-transition:width 0.25s ease-out;
    -o-transition:width 0.25s ease-out;
    transition:width 0.25s ease-out
}
#header-b .bottom a:hover:after{
    width:100%
}
.f-nav{
    z-index:9999;
    position:fixed;
    top:0;
    width:100%;
    padding-top:20px;
    padding-bottom:15px;
    padding-left: 600px;
    background-color:white;
    -webkit-box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8);
    box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8);
    text-align: center;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

/*секции*/


.section { 
    text-align: center;
    height: 100vh;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-size: 4em;
    margin-bottom: 20px;
}

main {
	width: 100%;
	height: 100vh;
	background-size: cover;
	transition: all .2s ease;
}

.button {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 11%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 
.button:after {
   opacity: 0;
}

.button:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: 8.3%;
	opacity: 0.6;
	position:absolute;
	top: -6px;
	width: 99.1%;
    height: 939%;
    border: 6px solid #000000;
}

.button {
    transition: 1s;
   }

.button:hover .text_b{
    opacity: 1;
}

.text_b{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 469%;
    left: 15%;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}

.popup {
	position: absolute;
	width: 1500px;
    top: 400px;
    left: 50%;
    right: 0px;
    height: 500px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background-color: #c9c7c2;
	color: #fff;
}

.imgzacl{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.zaclhistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 50%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo3{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 20px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.zacl{
     width: 100;
    
    font-size: 68px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

@media screen and (max-width: 768px) {

	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}

.button1 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	right: -2%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 

.button1:after {
   opacity: 0;
}

.button1:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: 8.5%;
	opacity: 0.6;
	position:absolute;
	top: -6px;
	width: 98.8%;
    height: 939%;
    border: 6px solid #000000;
}

.button1 {
    transition: 1s;
   }

.button1:hover .text_b1{
    opacity: 1;
}

.text_b1{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 469%;
    left: 15%;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}

.imgmadam{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.madamhistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 45%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo4{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 25px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.madam{
     width: 100;
    
    font-size: 55px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 5%;
     z-index: 9;
}


.button2 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	right: 45%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 

.button2:after {
   opacity: 0;
}

.button2:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: -6.5px;
	opacity: 0.6;
	position:absolute;
	top: -6px;
	width: 332px;
    height: 266px;
    border: 6px solid #000000;
}

.button2 {
    transition: 1s;
   }

.button2:hover .text_b2{
    opacity: 1;
}

.text_b2{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 135px;
    left: 34px;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}

.imgvino{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.vinohistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 45%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo5{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 36px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.vino{
     width: 100;
    
    font-size: 50px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 5%;
     z-index: 9;
}

.button3 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 19.8%;
	left: 60%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 

.button3:after {
   opacity: 0;
}

.button3:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: -6.5px;
	opacity: 0.6;
	position:absolute;
	top: -5.5px;
	width: 327px;
    height: 268px;
    border: 6px solid #000000;
}

.button3 {
    transition: 1s;
   }

.button3:hover .text_b3{
    opacity: 1;
}

.text_b3{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 138px;
    left: 36px;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}
.imgspalnya{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.spalnyahistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 35%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo6{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 36px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.spalnya{
     width: 100;
    
    font-size: 68px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 5%;
     z-index: 9;
}

.button4 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 60%;
	right: 45%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 

.button4:after {
   opacity: 0;
}

.button4:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: -6.5px;
	opacity: 0.6;
	position:absolute;
	top: -6px;
	width: 334px;
    height: 276px;
    border: 6px solid #000000;
}

.button4 {
    transition: 1s;
   }

.button4:hover .text_b4{
    opacity: 1;
}

.text_b4{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 138px;
    left: 36px;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}
.imgkart{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.karthistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 35%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo7{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 36px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.kart{
     width: 100;
    
    font-size: 68px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 5%;
     z-index: 9;
}

.button5 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
} 

.button5:after {
   opacity: 0;
}

.button5:hover:after {
	
    content: ' ';
	background-color: #555454;
	height: 100%;
	left: -6.5px;
	opacity: 0.6;
	position:absolute;
	top: -6px;
	width: 329px;
    height: 276px;
    border: 6px solid #000000;
}

.button5 {
    transition: 1s;
   }

.button5:hover .text_b5{
    opacity: 1;
}

.text_b5{
    opacity: 0;
    width: 100;
    
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
    position: absolute;
    top: 138px;
    left: 62px;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transform: opacity .1s linear;
}
.imgcafe{
    position: relative;
    left: 100px;
    top: -40px;
    z-index: 9;
    max-width: 100%;
    display: block;
}

.cafehistory{
       width: 100;
    
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 35%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.holstmaslo8{
    width: 100;
    
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 36px;
    color: white;
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
     z-index: 9;
}

.cafe{
     width: 100;
    
    font-size: 68px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: 
    text-transform: uppercase;
    line-height: 50px;
    
    position: absolute;
    top: 20%;
    left: 50%;
    right: 5%;
     z-index: 9;
}


@media screen and (max-width: 1295px) {
    .line {
        display:none;
    }
}
@media screen and (max-width:1200px){    
    .clod{
        font-size:8pt;
        padding:0 80px 0 20px;
        
    }
}

