@charset "UTF-8";

.slick-loading .slick-list {
	background: #fff url('./ajax-loader.gif') center center no-repeat
}

.slick-next,
.slick-prev {
	position: absolute;
	padding: 0;
	border: none;
	font: inherit;
	color: transparent;
	background-color: transparent;
	height: 50px;
	width: 50px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	top: 37%;
	outline: none
}

.slick-prev {
	left: -60px;
	background-image: url(../img/left.png);
	background-size: cover
}

.slick-next {
	right: -60px;
	background-image: url(../img/right.png);
	background-size: cover
}

.slick-dotted .slick-slider {
	margin-bottom: 30px
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0px;
	font-size: 0px;
	color: transparent;
	padding: 5px;
	cursor: pointer
}

.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	opacity: 1
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
	color: black;
	opacity: 0.75
}
